
<h2>History</h2>

<p>
  <%= link_to "Add New Run", :new_run_log, class: 'button' %>
</p>

<table>
  <tr>
    <th>&nbsp;</th>
    <th>Date</th>
    <th>Minutes</th>
  </tr>
<% @run_logs.each do |run_log| %>

  <tr>
    <td>
      <%= form_for run_log, method: :delete do |f| %>
        <%= f.submit "Delete", "data-delete-log"=> run_log.id %>
      <% end %>
    </td>
    <td><%=run_log.date_ran.to_date%></td>
    <td><%=run_log.time_ran%></td>
  </tr>

<% end %>

</table>
